.row{
    display: flex;
    background: #303030;
    padding: 15px;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 40px;
    align-items: center;
    height: 100px;
}

.imgHolder > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgHolder{
    overflow: hidden;
}

.row svg{
    padding-right: 20px;
    font-size: 100px;
    transition: all 0.3s ease-in-out;
}

.row:hover svg {
    transform: translateX(15px);
}

.row:hover{
    background: #7b00ee9f;
    transform: translateX(15px);
}

.content > h2{
    font-weight: 300;
} 
